body {
    background: rgb(182,200,251);
    background: linear-gradient(82deg, rgba(182,200,251,1) 44%, rgba(95,100,242,1) 100%);
    text-align: center;
}

li {
    list-style-type: none;
}

.shopingList{
    width:75%;
    margin:auto;
   
}

.products{
   
    overflow-y:scroll;
    height: 900px;
}
.products::-webkit-scrollbar { width: 0 !important }
.product {
    padding-top:10px;
    border-radius: 15px;
    background-color: white;
    width: 100%;
    height:200px;
    overflow:hidden;
    margin: auto;
    margin-bottom:8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: arial;

}

.product img{
   display: inline-block;
   height:80%;
   width:150px;
   float:left;
}

.product:hover {
    box-shadow: 0 6px 11px 0 rgba(0, 0, 0, 0.6);
}

.product-info {
    font-size:1.5em;
    font-weight:500;
    text-align: left;
    padding-top:10px;
    width:70%;
    display: block;
    float:left;
}

.product-controls {
    display: block;
    float:right;
    padding-right:20px;
    width:100px;
}

#price{
    font-weight: 700;
    font-size:22px;
}

.product-controls button {
    border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: rgb(18, 87, 179);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.product-controls button:hover {
    opacity: 0.7;
  }